<td>{{stat}}</td>
<td>
  <button class="btn btn-danger btn-sm" {{action 'decreaseStat' stat}}>-</button>
  <strong>{{ value }}</strong>
  <button class="btn btn-success btn-sm" {{action 'increaseStat' stat}}>+</button>
</td>
<td>{{ char.strengthBonus }}</td>
