<div class="row">
  <div class="col-sm-12">
  {{partial "shared/basic_character_info"}}
  </div>
  </div>
  <div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">Inventory</div>
      <div class="panel-body">
        <table class="table table-hover">
          <thead>
            <th>name</th>
            <th>weight</th>
            <th>bonuses</th>
            <th>&nbsp;</th>
          </thead>
          <tbody>
            {{#each character.items as |item|}}
              <tr>
                <td><strong>{{ item.name }}</strong></td>
                <td>{{ item.weight }}</td>
                <td>
                  {{#each item.bonusStrings as |b|}}
                    <span class="label label-success">{{b}}</span>
                  {{/each}}
                </td>
                <td><span class="btn btn-xs" {{ action 'removeItem' item }}>drop</span></td>
              </tr>
            {{/each}}
          </tbody>
        </table>
        <form class="form-inline">
        <div class="form-group">
        {{input type="text" valueBinding=newItem class="form-control" id="add" placeholder="Item Name"}}
        {{input type="number" valueBinding=newWeight class="form-control" id="addWeight" placeholder="Item Weight"}}
        <div class="input-group">
         {{input type="number" valueBinding=newConstitution class="form-control" id="addConstitution" placeholder="Constitution Bonus"}}
         <span class="input-group-btn">
          <button class="btn btn-default" type="button" {{ action 'addItem' }}>Pickup</button>
         </span>
        </div>
        </div>
        </form>
      </div>
    </div>
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">Inventory</div>
      <div class="panel-body">
      <div>{{character.statPointsToSpend}} left.</div>
        <table class="table table-hover">
         <thead>
           <th>STAT</th>
           <th>VALUE</th>
           <th>BONUS</th>
         </thead>
         <tbody>
          {{modify-character-stat char=character stat='strength' value=character.strength bonus=character.strengthBonus pointsLeft=character.statPointsToSpend}}
          {{modify-character-stat char=character stat='intelligence' value=character.intelligence bonus=character.intelligenceBonus pointsLeft=character.statPointsToSpend}}
          {{modify-character-stat char=character stat='wisdom' value=character.wisdom bonus=character.wisdomBonus pointsLeft=character.statPointsToSpend}}
          {{modify-character-stat char=character stat='dexterity' value=character.dexterity bonus=character.dexterityBonus pointsLeft=character.statPointsToSpend}}
          {{modify-character-stat char=character stat='constitution' value=character.constitution bonus=character.constitutionBonus bonus=character.constitutionBonus pointsLeft=character.statPointsToSpend}}
          {{modify-character-stat char=character stat='charisma' value=character.charisma bonus=character.charismaBonus pointsLeft=character.statPointsToSpend}}
         </tbody>
       </table>
       </div></div><button class="btn btn-danger" {{action 'randomize'}}>Random</button></div>
    <button class="btn btn-primary" disabled={{unless isValid 'disable'}} {{action 'saveCharacter'}}>Save</button>
  </div>
</div>